<% provide(:title, 'Resend Confirmation Instructions | Protest Australia') %>

<div class="devise-box">
   <h3 class="login-subheading header-background">Resend confirmation instructions</h3>

      <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
        <%= devise_error_messages! %>

        <div><%= f.label :email %>
        <%= f.email_field :email, autofocus: true %></div>

        <div class="submit-button-large"><%= f.submit "Resend confirmation instructions" %></div>
      <% end %>
      <br>
      <%= render "devise/shared/links" %>
</div>
