<% provide(:title, 'Sign Up | Protest Australia') %>

<div class="devise-box">
   <h3 class="login-subheading header-background">Sign up</h3>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div><%= f.label :email %>
        <%= f.email_field :email, autofocus: true %></div>

        <div><%= f.label :password %>
          <%= f.password_field :password, autocomplete: "off" %></div>

        <div><%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

        <div class="submit-button"><%= f.submit "Sign up" %></div>
      <% end %>
      <br>
      <%= render "devise/shared/links" %>
</div>
