<% provide(:title, 'Forgot Password | Protest Australia') %>

<div class="devise-box">
   <h3 class="login-subheading header-background">Forgot your password?</h3>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= devise_error_messages! %>

        <div><%= f.label :email %>
        <%= f.email_field :email, autofocus: true %></div>
        <br>
        <div class="submit-button-large"><%= f.submit "Send me reset password instructions" %></div>
      <% end %>
      <br>
      <%= render "devise/shared/links" %>
</div>
