<div class="row" id="protest_form">
	<%= simple_form_for(@protest) do |f| %>
		<%= render 'common/form_errors', object: @protest %>
	<div class="large-6 columns">
		<fieldset class="fieldset">
			<legend class="legend">Protest Details</legend>
				<%= f.input :title, placeholder: 'Name of Protest', input_html: { class: "textfield", tabindex: "1" } %>
				<%= f.input :date, order: [:day, :month, :year], input_html: { tabindex: "2" } %>
				<%= f.input :time, input_html: { tabindex: "3" } %>
		</fieldset>

		<fieldset class="fieldset">
			<legend class="legend">Location</legend>
				<%= f.input :state, :collection => ['ACT','NSW','NT','QLD','SA','TAS','VIC','WA'], input_html: { tabindex: "4" } %>
				<%= f.input :starting_location, placeholder: 'Starting location', input_html: { tabindex: "5" } %>
				<%= f.input :march_route, placeholder: 'March route', input_html: { tabindex: "6" } %>
		</fieldset>

		<fieldset class="fieldset">
			<legend class="legend">Contact</legend>
				<%= f.input :email, placeholder: 'user@example.com', input_html: { tabindex: "7" } %>
				<%= f.input :organisation, label: 'Organisers', placeholder: 'Name(s) or affiliated organisation', input_html: { tabindex: "8" } %>
		</fieldset>


	</div>
	<div class="large-6 columns">
		<fieldset class="fieldset">
			<legend class="legend">Social Media</legend>
				<%= f.input :twitter, input_html: { value: "@" } %>
				<%= f.input :facebook, placeholder: 'Facebook URL', input_html: { type: 'url', tabindex: "9" } %>
				<%= f.input :website, placeholder: 'Website URL', input_html: { type: 'url', tabindex: "10" } %>
		</fieldset>

		<fieldset class="fieldset">
			<legend class="legend">Additional Info</legend>
				<ul class="disc-list indent-20">
					<li class="red justify">
						<p>If possible, please indicate the time speeches are expected to begin so people
						who are unable to march can participate by going directly to the destination.</p>
					</li>
				</ul>
				<%= f.input :more_info, placeholder: 'More info...', input_html: { tabindex: "11" } %>
		</fieldset>
	</div>
</div>
<div class="row buttons">
	<div class="12-large columns">
		<div class="centered-contents">
			<%= f.submit %>  <%=f.button :button, 'Reset', :type => 'reset' %>
		</div>

	</div>
</div>
	<% end %>
</div>
