<% provide(:title, 'Sign In | Protest Australia') %>
<div class="devise-box">
   <h3 class="login-subheading header-background">Sign in</h3>
   <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
     <div><%= f.label :email %>
     <%= f.email_field :email, autofocus: true %></div>

     <div><%= f.label :password %>
       <%= f.password_field :password, autocomplete: "off" %></div>

     <% if devise_mapping.rememberable? -%>
       <div class="left"><%= f.check_box :remember_me %></div> <div class="right"><%= f.label :remember_me %></div>
     <% end -%>

     <div class="submit-button"><%= f.submit "Sign in" %></div>
   <% end %>
<br>
   <%= render "devise/shared/links" %>
</div>
