<footer class="footer push wrap">

   <div class="row push wrap">
      <div class="large-6 medium-9 small-12 large-centered medium-centered small-centered columns">

         <div class="row">
            <div class="medium-4 small-12 columns text-center">
               <%= link_to "Contact My MP", "http://www.contactmymp.com", target: "_blank", class: "contactmymp", title: "Find and email your federal MP &amp; Senators" %>
            </div>
            <div class="medium-4 small-12 columns text-center">
               <%= link_to "PollieTweets", "http://www.pollietweets.com", target: "_blank", class: "pollietweets", title: "Keep up to date with what your federal &amp; state/territory politicians are saying on Twitter" %>
            </div>
            <div class="medium-4 small-12 columns text-center">
               <%= link_to "PROTEST AUSTRALIA", "http://www.protestaustralia.com", target: "_blank", class: "protestaus", title: "Find out who's protesting what, when" %>
            </div>
         </div>
         <hr class="footer_hr">
      </div>

   </div><!-- end large-6 large-centered -->
   <div class="row push wrap"> <!-- menu -->
      <div class="medium-4 hide-for-small-only columns text-center"><%= link_to "Protests", protests_path %></div>
      <div class="medium-4 hide-for-small-only columns text-center"><% if signed_in? %><%= link_to "My Protests", my_protests_path %> <% else %><%= link_to "Sign In", new_user_session_path %><% end %></div>
      <div class="medium-4 hide-for-small-only columns text-center"><%= link_to "About Us", about_us_path %></div>
   </div>
   <div class="row push wrap">
      <div class="medium-4 hide-for-small-only columns text-center"><%= link_to "Add a Protest", new_path %></div>
      <div class="medium-4 hide-for-small-only columns text-center"><% if signed_in? %> <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %> <% else %><%= link_to "Register", new_user_registration_path %><% end %></div>
      <div class="medium-4 hide-for-small-only columns text-center"><%= link_to "Contact", contact_us_path %></div>
   </div>
   <div class="row push wrap">
      <div class="medium-4 hide-for-small-only columns text-center"><%= link_to "Search", search_path %></div>
      <div class="medium-4 hide-for-small-only columns text-center"><% if current_user.try(:admin?) %><%= link_to "Admin Panel", admin_path %><% end %></div>
      <div class="medium-4 hide-for-small-only columns text-center">Privacy Policy</div>
   </div>
   <div class="row push wrap">
      <div class="medium-4 hide-for-small-only columns text-center"><%= link_to "Related Sites", related_sites_path %></div>
   </div>
   <!-- end of menu -->

   <div class="row push wrap"> <!-- icons -->
      <div class="large-2 medium-2 small-5 columns large-centered medium-centered small-centered">
         <div class="row">
            <div class="small-4 columns text-center">
               <i class="fi-social-twitter s-m-i"></i>
            </div>
            <div class="small-4 columns text-center">
               <i class="fi-social-facebook s-m-i"></i>
            </div>
            <div class="small-4 columns text-center">
               <i class="fi-mail s-m-i"></i>
            </div>
         </div>
      </div>
   </div> <!-- end of icons -->
   <div class="row push wrap">
      <div class="small-12 large-centered columns text-center copyright">
         <span>&copy; Protest Australia <%= Time.now.year %></span>
      </div>
   </div>

</footer>
