<footer class="footer">
   <div class="political-sites-links">
      <div class="site"><span class="contactmymp"><%= link_to "Contact My MP", "http://www.contactmymp.com", target: "_blank" %></span></div><div class="site"><span class="pollietweets"><%= link_to "PollieTweets", "http://www.pollietweets.com", target: "_blank" %></span></div><div class="site"><span class="protestaus"><%= link_to "Protest Australia", "http://www.protestaustralia.com", target: "_blank" %></span></div>
   </div>
   <div class="clear"></div>
   <hr class="footer-hr">
   <div class="internal-links">
      <div class="col"><%= link_to "All Protests", protests_path %><br><%= link_to "Add a Protest", new_path %><% if signed_in? %><br><%= link_to "My Protests", my_protests_path %><% end %></div><div class="col"><%= link_to "Register", new_user_registration_path %><br><%= link_to "Sign In", new_user_session_path %><% if current_user.try(:admin?) %><br><%= link_to "Admin Panel", admin_path %><% end %><br><div class="smicons">
         <i class="fa fa-twitter"></i>
         <i class="fa fa-facebook"></i>
         <i class="fa fa-envelope"></i>
      </div></div><div class="col">
         <%= link_to "About Us", about_us_path %><br><%= link_to "Contact Us", contact_us_path %><br>Privacy Policy</div>
   </div>
   <div class="clear"></div>
   <div class="copyright">
      &copy; Protest Australia <%= Time.now.year %>
   </div>
</footer>




<footer class="footer push wrap">

   <div class="row push wrap">
      <div class="large-6 medium-9 small-12 large-centered medium-centered small-centered columns">

         <div class="row">
            <div class="medium-4 small-12 columns text-center">
               <%= link_to "Contact My MP", "http://www.contactmymp.com", target: "_blank", class: "contactmymp, has-tip", title: "Find and email your federal MP &amp; Senators", data-tooltip, aria-haspopup="true" %>
                  <!-- <span class="contactmymp" data-tooltip aria-haspopup="true" class="has-tip" title="Find and email your federal MP &amp; Senators">Contact My MP</span> -->
               <!-- </a> -->
            </div>
            <div class="medium-4 small-12 columns text-center">
               <a href="http://www.pollietweets.com" target="_blank">
                  <span class="pollietweets" data-tooltip aria-haspopup="true" class="has-tip" title="Keep up to date with what your federal &amp; state/territory politicians are saying on Twitter">PollieTweets</span>
               </a>
            </div>
            <div class="medium-4 small-12 columns text-center">
               <a href="http://www.protestaustralia.com" target="_blank">
                  <span class="protestaus" data-tooltip aria-haspopup="true" class="has-tip" title="Find out who's protesting what, when">PROTEST AUSTRALIA</span>
               </a>
            </div>
         </div>
         <hr class="footer_hr">
      </div>

   </div><!-- end large-6 large-centered -->
   <div class="row push wrap"> <!-- menu -->
      <div class="medium-4 hide-for-small-only columns text-center">All Protests</div>
      <div class="medium-4 hide-for-small-only columns text-center">Register</div>
      <div class="medium-4 hide-for-small-only columns text-center">About Us</div>
   </div>
   <div class="row push wrap">
      <div class="medium-4 hide-for-small-only columns text-center">Add a Protest</div>
      <div class="medium-4 hide-for-small-only columns text-center">Sign In</div>
      <div class="medium-4 hide-for-small-only columns text-center">Contact Us</div>
   </div>
   <div class="row push wrap">
      <div class="medium-4 hide-for-small-only columns text-center"></div>
      <div class="medium-4 hide-for-small-only columns text-center"></div>
      <div class="medium-4 hide-for-small-only columns text-center">Privacy Policy</div>
   </div><!-- end of menu -->

   <div class="row push wrap"> <!-- icons -->
      <div class="large-2 medium-2 small-5 columns large-centered medium-centered small-centered">
         <div class="row">
            <div class="small-4 columns text-center">
               <i class="fi-social-twitter s-m-i"></i>
            </div>
            <div class="small-4 columns text-center">
               <i class="fi-social-facebook s-m-i"></i>
            </div>
            <div class="small-4 columns text-center">
               <i class="fi-mail s-m-i"></i>
            </div>
         </div>
      </div>
   </div> <!-- end of icons -->
   <div class="row push wrap">
      <div class="small-12 large-centered columns text-center copyright">
         <span>&copy; Protest Australia 2014</span>
      </div>
   </div>

</footer>
